@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(112, 117, 117, 0.349);
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  display: inline-block;
  margin: 30px;
  font-size: 25px;
}
header nav ul li a {
  color: rgb(28, 128, 106);
}
header nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  margin: 50px;
  font-size: 50px;
  color: rgb(64, 189, 172);
}

/* MAIN */
.hero {
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  text-align: center;
  align-content: center;
  margin: 10px;
}
.hero .parrafo-hero {
  background-color: white;
  color: rgb(28, 128, 106);
  font-size: 30px;
}

/* SELECTION */
.productos-destacados {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productos-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.producto {
  border: 2px solid black;
  text-align: center;
  width: 350px;
  height: 450px;
  margin: 50px;
  transition: 1s;
}
.producto img {
  width: 300px;
  height: 300px;
}
.producto .detalles-producto h3 {
  margin-bottom: 10px;
}
.producto .detalles-producto p {
  margin-bottom: 15px;
}
.producto .detalles-producto .boton-producto {
  margin-top: 20px;
  background-color: yellow;
  color: rgb(28, 128, 106);
  font-size: 25px;
  padding: 10px;
  border-radius: 8px;
}

.producto:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.56);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(64, 189, 172);
  text-decoration: underline;
  padding: 40px;
}

.fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.fixed a img {
  width: 70px;
}

.redes {
  background-color: rgba(94, 247, 247, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 10px;
}
.redes a {
  margin: 10px;
}
.redes .bi-instagram,
.redes .bi-facebook,
.redes .bi-tiktok {
  color: rgb(23, 94, 84);
  font-size: 30px;
}

.nosotros-img {
  background-image: url(../img/nosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
}

.nuestros-clientes {
  background-image: url(../img/clientes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

h3 {
  text-align: center;
}

.reseñas {
  display: flex;
  justify-content: space-between;
}

.div-contacto {
  display: grid;
  grid-template-columns: auto auto;
  margin: 25px;
  font-size: 20px;
}
.div-contacto .boton-enviar {
  background-color: rgb(134, 190, 178);
  color: rgb(1, 8, 7);
  font-size: 30px;
  border: 1px black;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
}

.div-preguntas {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  margin: 100px;
}
.div-preguntas .div-detalles-preguntas {
  margin: 100px;
}
.div-preguntas .div-detalles-preguntas h3 {
  color: rgb(23, 94, 84);
}

/* FOOTER */
footer {
  background-color: rgba(112, 117, 117, 0.349);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}
footer .lista-footer ul li a {
  color: rgb(28, 128, 106);
  font-size: 20px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1225px) {
  h1 {
    margin: 25px;
    font-size: 30px;
    color: rgb(64, 189, 172);
  }
  header nav ul {
    flex-wrap: wrap;
  }
  header nav ul li {
    margin: 10px;
    font-size: 20px;
  }
  .productos-grid {
    grid-template-columns: auto auto;
  }
  .parrafo-hero {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 30vh;
  }
  h1 {
    margin: 20px;
    font-size: 20px;
    color: rgb(64, 189, 172);
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin: 10px;
    font-size: 15px;
  }
  .productos-destacados {
    justify-content: center;
  }
  .productos-grid {
    grid-template-columns: auto;
  }
  .parrafo-hero {
    font-size: 15px;
  }
  .producto {
    border: 2px solid black;
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 50px;
  }
  .producto img {
    width: 150px;
    height: 150px;
  }
  .detalles-producto .boton-producto {
    font-size: 15px;
  }
  .lista-footer ul li a {
    font-size: 13px;
  }
  .parrafo-footer {
    font-size: 13px;
  }
  .nosotros-img {
    background-size: contain;
  }
  .nuestros-clientes {
    background-size: contain;
  }
  .reseñas {
    display: flex;
    flex-direction: column;
  }
  .div-contacto {
    grid-template-columns: auto;
    margin: 15px;
    font-size: 10px;
  }
  .div-contacto .boton-enviar {
    font-size: 15px;
  }
  .div-preguntas {
    font-size: 20px;
    margin: 40px;
  }
  .div-detalles-preguntas {
    margin: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
